@import url('font-awesome.css');

.page {
	border: 1px solid green;
	background: darkgrey;
	padding: 8px;
	margin: 8px;
}

.page p {
	margin-bottom: 15px;
}

.page blockquote {
	margin-bottom: 15px;
	padding-left: 30px;
	font-style: italic;
}

.page form input,
.page form textarea {
	display: block;
	padding: 10px 10px;
	margin-bottom: 15px;
	width: 95%;
}

