@import url('font-awesome.css');

/* -----------------------------------------
   Page Styles
----------------------------------------- */

.page {
	border: 1px solid green;
	background: darkgrey;
	padding: 8px;
	margin: 8px;
}

.page p {
	margin-bottom: 15px;
}

.page blockquote {
	margin-bottom: 15px;
	padding-left: 30px;
	font-style: italic;
}

.copyright {
	text-align: center;
	padding: 10px 0 10px 0;
}